
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/
*.pyc

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
